div.container {
  max-width: 1512px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  background-color: #f8f9fa;
}
div.container-fluid {
  margin: 0 144px;
}
div.menu_button {
  width: calc(100% - 20vw);
  display: flex;
  justify-content: space-between;
}

ul.navbar-nav {
  flex-direction: row;
  justify-content: space-around;
  width: 160px;
}
li.nav-item {
  display: block;
  font-size: 15px;
}
.btn-outline-dark {
  width: 113px;
}

span.cart-number {
  position: relative;
  width: 22.28px;
  height: 20.38px;
  padding: 4.1875px 7.48438px 4.1875px 7.79688px;
  left: 16.72px;
  top: -0.18px;
  background: hsl(210, 11%, 15%);
  color: #fff;
  border-radius: 800px;
}
div.header {
  background-color: #212529;
  height: 297px;
}
h1 {
  font-size: 56px;
  font-family: Roboto;
  color: #fff;
  padding-top: 85px;
}
div.header p {
  color: rgba(255, 255, 255, 0.5);
}

div.col {
  width: 270px;
}
.card-img-top {
  width: 268px;
  height: 178px;
}
div.card .btn-outline-dark {
  width: 117.38px;
  border: 1px solid #212529;
  font-size: 15px;
  color: #212529;
}
div.card .btn-outline-dark:hover {
  color: #fff;
}
span.old-price {
  color: #6c757d;
}

div.footer {
  height: 120px;
  background-color: #212529;
  color: #fff;
}
